@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,300,700);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400);
@import url(https://fonts.googleapis.com/css?family=Roboto:400);
header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 84px;
	background-color: #3B4454;
	color: white;
	font-family: 'Work Sans';
	font-weight: 300;
	z-index: 10;
}
header .title {
	position: absolute;
	top: 22px;
	left: 35px;
	font-size: 30px;
}
.messages {
	position: absolute;
	top: 84px;
	left: 0;
	right: 0;
	bottom: 50px;
	background-color: #f0f0f0;
	color: #333;
	font-size: 16px;
	font-family: 'Roboto';
	overflow: auto;
	z-index: 9;
	padding: 8px 0 0;
}
.messages > div {
	color: #525963;
	padding: 2px 10px 2px;
	border-top: 1px solid #ddd;
}
.messages > div.me {
	background-color: #E4E8F0;
}
.tag {
	background-color: #EBF5AA;
	padding: 2px 4px;
	margin: 0 4px 0;
	color: #656A48;
}
.footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	background-color: #3B4454;
	z-index: 11;
}
.footer .msg {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 50px;
	width: 100%;
	border: none;
	background-color: #3B4454;
	color: #DBDFE5;
	padding: 0 0 0 25px;
	font-size: 17px;
	font-family: 'Roboto';
	font-weight: 400;
	outline: 0px none;
}
.settings {
	position: absolute;
	right: 2px;
	bottom: 2px;
	width: 200px;
	height: 150px;
	border: 2px solid #000;
	background-color: #262626;
	font-family: helvetica;
	color: white;
	text-align: center;
	z-index: 10000;
}
.settings h3 {
	margin: 0;
	padding: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}
.settings input {
	width: 100%;
	height: 30px;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.4);
	z-index: 1000;
}
.settings button {
	width: 100%;
	margin: 0;
	padding: 0;
	height: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: black;
	color: white;
	cursor: pointer;
	border: 2px solid black;
}
.nbtn {
	position: absolute;
	right: 2px;
	height: 30px;
	border: 2px solid #333;
	background-color: #000;
	color: white;
	cursor: pointer;
	font-family: helvetica;
}
.topbtn {
	position: relative;
	top: 23px;
	right: 15px;
	float: right;
	background-color: #2C323E;
	color: #FFF;
	font-size: 18px;
	font-family: 'Raleway';
	font-weight: 900;
	margin-right: 5px;
	cursor: pointer;
	padding: 8px 15px;
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
}
.topbtn:hover {
	background-color: #000;
}
.window {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 300px;
	background-color: #fff;
	color: #000;
	z-index: 1001;
	text-align: center;
}
.window button {
	width: 100%;
	margin: 0;
	padding: 0;
	height: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: black;
	color: white;
	cursor: pointer;
	border: 2px solid black;
}
.window h3 {
	margin: 0;
	padding: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}
.window input {
	width: 100%;
	height: 30px;
}
.name {
	position: relative;
	float: right;
	font-size: 18px;
	font-family: 'Raleway';
	font-weight: 900;
	margin-left: 5px;
	top: 23px;
	left: -30px;
	color: #EDEEF1;
	background-color: #495265;
	padding: 8px 15px;
}
#regcancel {
	background-color: red;
	left: 0;
}
#logcancel {
	background-color: red;
	left: 0;
}
