@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
body {
	background-image: url(http://i.imgur.com/8txKEQj.jpg);
	background-position: top;
}
header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.8);
	text-align: center;
	color: rgba(256,256,256,0);
	font-family: 'Roboto Slab', serif;
	font-size: 30px;
	transition: 2s;
}
header a {
	color: rgba(256,256,256,0);
	transition: 2s;
	text-decoration: none;
}
.logo {
	margin: 0 auto;
	background-size: cover;
	margin-top: 70px;
	transition: 1.5s;
}
table {
	background-color: white;
	width:100%;
	color: #333;
	border: 1px solid #333;
}
table tr td {
	height: 60px;
	border-top: 1px solid #333;
}
